@use "global" as *;
.swiper {
  max-width: rem(375);
  width: 100%;
  aspect-ratio: 4/3;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.swiper-pagination {
  position: absolute;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
